/* Medias Queries */
@media screen and (max-width: 768px) {
    .wrap {     
        max-width: 480px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .header-mobile {
        display: block;
        position: relative;
    }

    .header-mobile h1 a img {
        width: 65%;
    }

    .header-mobile .menu-mobile {  
        display: none;      
        top: 93px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        left: 0;
        width: 100%;        
        padding: 30px 0;
    }

    .header-mobile nav ul {
        flex-direction: column;
        margin-left: 20px;
    }

    .header-mobile nav ul li {
        padding: 10px 0;
    }

    .header-mobile nav ul li:hover,
    .header-mobile nav ul li a:hover {
        color: #eb6625;
    }

    .header-mobile .icon-menu {
        position: absolute;
        right: 10%;
        color: white;
    }

    .header-mobile .icon-menu svg {
        fill: white;
    }

    main .intro-teddy {
        max-width: 100%;
    }

    .banners {
        flex-direction: column;
    } 

    .banners .texts-banners-1 {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .banners .texts-banners-2 {
        position: absolute;
        top: inherit;
        left: 10%;
        bottom: 5%;       
    }

    .banners .texts-banners-1 h2, .banners .texts-banners-2 h2 {
        font-size: 32px;
    }

    .content-teddy .vantagens-teddy .blocks-vantagens {
        flex-direction: column;
        align-items: center;
    }

    .content-teddy .vantagens-teddy h3 {
        font-size: 32px;
    }    

    .content-teddy .vantagens-teddy .blocks-vantagens div {
        margin-bottom: 20px;
        width: 100%;
    }

    .content-teddy .vantagens-teddy .blocks-vantagens div {
        margin-left: 0;
    }

    .content-teddy .business-banker .text-business p {
        text-align: center;
        margin-left: 20px;
    }

    .content-teddy .slider-parceiros .owl-carousel img {
        width: 50%;
    }

    .servicos-teddy .content-servicos-teddy h3 {
        padding: 30px 0 30px 30px;
    }

    .content-teddy .teddy-video .wrap {
        flex-direction: column;
    }

    .content-teddy .teddy-video .text {
        padding: 10px 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .content-teddy .teddy-video .video {
        padding: 5px;
        max-width: 300px;
    }

    .content-teddy .teddy-video .video iframe {
        width: 300px;
    }

    .content-teddy .teddy-video .wrap .video:before {
        width: 300px;
    }

    .produtos-teddy .wrap {
        flex-direction: column;
    }

    .produtos-teddy .wrap h4 {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .produtos-teddy .wrap p {
        width: 100%;
        text-align: center;
        padding: 0 20px 20px 20px;
    }    
    
    .produtos-teddy .list-produtos {
        position: inherit;
    }

    .produtos-teddy .list-produtos img {
        width: 250px;
    }

    .produtos-teddy .list-produtos ul {
        position: inherit;
    }

    .produtos-teddy .list-produtos .list-1,
    .produtos-teddy .list-produtos .list-2 {
        left: 0;
        right: 0;
    }

    .produtos-teddy .list-produtos ul li {
        width: 90%;
        margin-left: 20px;
        text-align: center;
    }

    .estatisticas-teddy {
        min-height: 500px;
    }

    .estatisticas-teddy ul {
        flex-direction: column;
        padding: 40px 0;
    }

    .estatisticas-teddy ul li {
        padding-left: 0;
        margin-bottom: 10px;
    }

    .banner-teddy .content-banner {
        width: 90%;
        margin: 20px;
    }

    .banner-teddy .content-banner .text-banner {
        padding: 30px;
    }

    .banner-teddy .content-banner p {
        font-size: 28px;
        text-align: center;
    }

    .banner-teddy .content-banner .text-banner .subtitle {
        font-size: 13px;
        text-align: center;
        display: block;
    }

    .banner-teddy .content-banner .img-banner {
        display: none;
    }

    .banner-teddy .content-banner .text-banner a {
        text-align: center;
        font-size: 15px;
    }

    .servicos-teddy .content-servicos-teddy .blocks-servicos {
        flex-direction: column;
    }

    .servicos-teddy .content-servicos-teddy .blocks-servicos div {
        width: 90%;
        margin-left: 20px;
        margin-bottom: 20px;       
        padding: 20px;
    }

    .servicos-teddy .content-servicos-teddy .blocks-servicos div:first-child {
        margin-left: 20px;
    }

    .servicos-teddy .content-servicos-teddy h3:before {
        width: 14%;
        left: 11%;
    }

    .servicos-teddy .content-servicos-teddy h3:after {
        width: 14%;
        right: -3%;
    }

    .business-banker-teddy {
        border-radius: 50px 50px 0 0;
    }

    .business-banker-teddy .wrap {
        flex-direction: column;
    }

    .business-banker-teddy .infos-business {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .business-banker-teddy .infos-business ul li {
        text-align: left;
    }

    .business-banker-teddy .form-business {
        width: 90%;
        margin: 20px;
    }

    .duvidas-teddy {
        padding: 20px;
    }

    .servicos-teddy .content-servicos-teddy .blocks-servicos {
        margin-top: 0;
    }

    .footer-teddy .top-footer div {
        width: 120px;
        height: 70px;
    }

    .footer-teddy .content-footer {
        flex-direction: column;
    }

    .footer-teddy .content-footer .list-footer {
        margin-top: 20px;
    }
    
    .footer-teddy .logos-footer {
        flex-direction: column;
    }

    .footer-teddy .logos-footer img {
        margin-top: 20px;
    }

    .footer-teddy .direitos-footer {
        margin-top: 35px;
    }
}